body {
  background: black;
}

#container {
    position: absolute;
    width: 928px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    font-size: 20px;
}

#second {
  position: relative;

  width: 928px;
  height: 793px;

}

#slider {
    width: 100%;
}

p {
    color: white;
}
