body {
  background: black;
  color: white;

}

#container {
    position: absolute;
    width: 928px;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
    font-size: 20px;
    font-family: 'VT323', monospace; 
    font-size: larger;
}

#codeblock {
    position: absolute;
    width: 928px;
}

#second {
  position: relative;

  width: 928px;
  height: 793px;

}

#slider {
    width: 100%;
}

pre {
    font-size: small;
    overflow-wrap: break-word;
}

code {
    overflow-wrap: break-word;
}

