body{
    background: black;
}

#second {
    position: absolute;
    border: 3px solid white;
    width: 928px;
    height: 793px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}