body {
    font-size: 20px;
    font-family: 'VT323', monospace; 
    font-size: larger
}

#third1 {
    /* margin: 40px; */
    border: 2px solid black;
    width: 950px;
    height: 793px;
}

#codeblock {
    font-size: small;
    overflow-wrap: break-word;
}