.body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  position: absolute;
  z-index: 10;
  top: 150px;
  left: 10px;
}

/* canvas {
background-color: lightgray;
    border: 1px solid black;
} */
